cloud_id                 = "b1gt222tjoecbt02imcv"
folder_id                = "b1g7ordpl05jro479gav"
image_id                 = "fd8mkbd5na4sbf31v0pq"
subnet_id                = "e9bv0qb37l6f403i3rcu"
service_account_key_file = "/home/kita/Desktop/key.json"
public_key_path          = "/home/kita/.ssh/id_rsa.pub"
private_key_path         = "/home/kita/.ssh/id_rsa"

lb_image_id              = "fd8ba0ukgkn46r0qr1gi"
count_vms                = "2"
