cloud_id                 = "b1g6lpbd6fja46bp248v"
folder_id                = "b1g6tvkri9trtb4v3mtu"
zone                     = "ru-central1-a"
image_id                 = "fd8lc8tv4va70qs70r21"
public_key_path          = "~/.ssh/ubuntu.pub"
private_key_path         = "~/.ssh/ubuntu"
subnet_id                = "e9b5jvjh088hn32pkgkt"
service_account_key_file = "../keys_example/key.json"
app_disk_image           = "fd8b1r26f9pcnui83ocu"
db_disk_image            = "fd8jglt9kvncbmcurb2t"
